* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.navbar {
    max-height: 80px;
    background-color: white;
}

.navbar h1 {
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
    padding: 10px;
    margin-left: 30px;
    font-size: 40px;
    background-color: darkviolet;
    text-transform: lowercase;
}

.navbar ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-size: 18px;
}

.portfolio {
    height: 1000px;
    width: 600px;
    border: 1px solid gray;
    float: left;
    margin: 40px;
    padding: 15px;
    font-family: 'Baloo Chettan 2', cursive;
    color: darkviolet;
    background-color: white;
    overflow: auto;
}

.card {
    margin: 20px;
}

.card-body {
    text-align: center;
    background-color: darkviolet;
    color: white;
}