* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

header {
    max-height: 80px;
    background-color: white;
    overflow: auto;
}

header h1 {
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
    float:left;
    padding: 10px;
    margin-left: 30px;
    font-size: 40px;
    background-color: darkviolet;
    text-transform: lowercase;
}

header nav {
    font-family: 'Quicksand', sans-serif;
    color: lightslategrey;
    padding: 10px;
    list-style: none;
    text-align: center;
    font-size: 18px;
    width: 33.3%;
    display: inline-block;
}

.wrapper {
    height: 700px;
    width: 600px;
    border: 1px solid gray;
    float: left;
    margin: 40px;
    padding: 15px;
    font-family: 'Baloo Chettan 2', cursive;
    color: darkviolet;
    background-color: white;
}

.col-md-4 {
    margin: 10px;
    position: relative;
    z-index: 1;
}

.text-block {
    position: absolute;
    text-align: center;
    background-color: darkviolet;
    color: white;
    left: 200px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
}