* {
    box-sizing: border-box;
}

body {
    background-color: lightgray;
}

.navbar {
    max-height: 80px;
    background-color: white;
    overflow: auto;
}

.navbar h1 {
    font-family: 'Baloo Chettan 2', cursive;
    color: white;
    padding: 10px;
    margin-left: 30px;
    font-size: 40px;
    background-color: darkviolet;
    text-transform: lowercase;
}

.navbar ul {
    font-family: 'Quicksand', sans-serif;
    list-style: none;
    font-size: 18px;
}

#about-me {
    width: 800px;
    height: 600px;
    border: 1px solid gray;
    margin: 20px;
    background-color: white;
    float: left;
}

#about-me h2{
    padding: 15px;
}

div h2 {
    color: darkviolet;
    font-family: 'Baloo Chettan 2', cursive;
}

#blurb {
    color: black;
    font-family: 'Quicksand', sans-serif;
    float: right;
    width: 500px;
    margin-left: 20px;
}

div img {
    border-radius: 100%;
    max-height: 400px;
    width: 225px;
    border: solid orange;
    float: left;
}

@media screen and (max-width: 768px)
    /* for tablets */
    [class*="col-"] {

    }
@media screen and (max-width: 640px) {
    /* for mobile phones */
    #about-me, #blurb, img {
        width: 100%;
    }
}